<html>
  <head>
    <title>Pharmacy</title>
  </head>
  <body>
    <a href="branches"><h1>Branches</h1></a>
    <a href="appointments"><h1>Appointments</h1></a>
    <a href="doctors"><h1>Doctors</h1></a>
    <a href="medsupp"><h1>medsupp</h1></a>
    <a href="medicines"><h1>medicines</h1></a>
    <a href="medicalhistory"><h1>medicalhistory</h1></a>
    <a href="orders"><h1>orders</h1></a>
    <a href="patients"><h1>patients</h1></a>
    <a href="payment"><h1>payment</h1></a>
    <a href="pharmacists"><h1>pharmacists</h1></a>
    <a href="policyprovider"><h1>policyprovider</h1></a>
    <a href="presmedicine"><h1>presmedicine</h1></a>
    <a href="prescription"><h1>prescription</h1></a>
    <a href="stock"><h1>Stock</h1></a>
    <a href="suppliers"><h1>suppliers</h1></a>
    <a href="appointments_vacc"><h1>appointments_vacc</h1></a>
    <a href="doctors_query"><h1>doctors_query</h1></a>
    <a href="total_amount"><h1>total_amount</h1></a>
    <a href="payment_totals"><h1>payment_totals</h1></a>
    <a href="avg_age"><h1>avg_age</h1></a>
    <a href="comm_pres_med"><h1>comm_pres_med</h1></a>
    <a href="num_pres"><h1>num_pres</h1></a>
  </body>
</html>
