<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medical History</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Medical History ID</th>
          <th>patientid</th>
          <th>description</th>
        </tr>
      </thead>
      <tbody>
        {% for row in medicalhistory %}
        <tr>
          <td>{{ row.medicalhistid }}</td>
          <td>{{ row.patientid }}</td>
          <td>{{ row.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
